/* USE THIS FILE FOR STYLING COMPONENTS! */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map-container {
  flex: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;

}

.ui-container {
  color:white;

}

.info-container {
  color: white;
}

.header {
  color: #7BAFD4;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #13294B;
  text-align: center;
  padding: 2.4rem;
  width: 100%;
  box-sizing: border-box;
}

.all-text {
  flex: 1;
  background-color: #f0f0f0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.p-intro {
  color:black;
  font-size: 2rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
}