/* USE THIS FILE FOR STYLING COMPONENTS! */
body {
  margin: 0;
  font-family: "Poppins", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map-container {
  flex: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;

}

.ui-container {
  color:white;

}

.info-container {
  color: white;
}

.header {
  color: #7BAFD4;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #13294B;
  text-align: center;
  padding: 2.4rem;
  width: 100%;
  box-sizing: border-box;
}

.all-text {
  flex: 1;
  background-color: #f0f0f0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items:normal;
  padding: 1rem;
  overflow: scroll;
}

.p-header {
  color: #333;
  font-weight: 800;
  font-size: 3rem;
  text-align: center;
}

.p-description {
  color:#333;
  font-size: 1.2rem;
  margin: 0;
  line-height: 1.6;
}

.p-details {
  padding-top: 1rem;
  font-size: 1.2rem;
  color: #333;
}

.leaflet-popup-content {
  font-size: 1.2rem !important; /* Adjust this value as needed */
  font-family: 'Arial', sans-serif; /* Optional: change the font family */

}

